@import "../../styles-globals/globals.scss";

.header{
    display: flex;
    justify-content: flex-end;
    background-color: rgba($color-primario ,0.77);
    .header__right{
        ul{
            display: flex;
            li{
                list-style: none;
            }
        }
    }
}