@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

$color-oscuro: #222831;
$color-primario: #393e46;
$color-secundario: #00adb5;
$color-claro: #eeeeee;
$font1: 'Lato', sans-serif;
$font2: 'Oswald', sans-serif;

@mixin titulos($font) {
    @if $font==$font1 {
        font-family: $font1;
    } @else {
        font-family: $font2;
        text-transform: uppercase;
    }
}

@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}