@import "../../../shared/styles-globals/globals.scss";
.all {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("https://image.freepik.com/foto-gratis/cielo-nocturno-montanas-via-lactea-millones-estrellas_86390-870.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
