@import "../../../shared/styles-globals/globals.scss";
.all {
  font-family: 'Courier New', Courier, monospace;
  background-image: url(eclipse-solar-desde-espacio-5303c998cd1c9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
