.contact_form {
.contact {
  font-family: 'Courier New', Courier, monospace;
  background-color: (45deg #BB1881, #F88B50);
}

.contact-wrapper {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
}

}
