<link rel="stylesheet" href="contact.component.scss" type="text/scss">
<body>
<header class="header">
        <figure class="logo"></figure>
        <div class="options">
            <ul>
                <li><a href="../../../home/components/home/home.component.html">Home</a></li>
                <li><a href="contact.component.html">Contact us</a></li>
                <li><a href="../../../cart/components/cart/cart.component.html">Cart</a></li>
                <li><a href="../../../shopping/components/shopping/shopping.component.html">Shopping</a></li>
                <li><a href="../../../about-us/components/about-us/about-us.component.html">About us</a></li>
            </ul>
        </div>
    </header>
				<div class="contact_form">
  			<div class="formulario">
      	<h1>Contact form</h1>
        <h3>Write to us and we will contact you shortly</h3>
          <form action="submeter-formulario.php" method="post">
            <p>
              <label for="nombre" class="colocar_nombre">Name
                <span class="obligatorio"></span>
              </label>
              <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Write your name">
            </p>
            <p>
              <label for="email" class="colocar_email">Email
                <span class="obligatorio"></span>
              </label>
          		<input type="email" name="introducir_email" id ="email" required="obligatorio" placeholder="Write your email">
            </p>
            <p>
              <label for="telefone" class="colocar_telefono">Telephone</label>
                <input type="tel" name="introducir_telefono" id="telefono" placeholder="write your telephone">
            </p>
          	<p>
             <label for="asunto" class="colocar_asunto">Matter
	            <span class="obligatorio"></span>
            </label>
            <input type="text" name="introducir_asunto" id="assunto" required="obligatorio" placeholder="Write your matter">
            </p>
            <p>
            <label for="mensaje" class="colocar_mensaje">Message
              <span class="obligatorio"></span>
            </label>
            <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="leave your comment here..."></textarea>
            </p>
            <mat-divider></mat-divider>
              <section>
                <div class="example-button-row">
                <button mat-raised-button color="primary">Send</button>
                </div>
              </section>
            <p class="aviso">
              <span class="obligatorio"> All fields are required. </span>
           </p>
        </form>
      	</div>
    </div>
</body>
