<div id="container"></div>
  <div class="contact">
    <div class="contactanos">Contact us</div>
    <div class="back-paper">
      <div class="content">
        <div class="form-wrapper">
          <form action="">
            <div class="top-wrapper">
              <div class="input">
                <label for="">Name</label>
                <input type="text" name="name"/>
              </div>
              <div class="input">
                <label for="">Phone</label>
                <input type="text" name="Phone"/>
              </div>
              <div class="input">
                <label for="">Email</label>
                <input type="text" name="_replyto"/>
              </div>
            </div>
            <div class="bottom-wrapper">
              <div class="input">
                <label for="">Subject</label>
                <input type="text" name="_subject"/>
              </div>
              <div class="input">
                <label for="">Messege</label>
                <textarea name="messege" rows="5"></textarea>
              </div>
              <div class="submit">
                <div class="submit-cart" onclick="toggle('flipCard')">Send mail</div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="frontpaper"></div>
    </div>
  </div>

