@import "../styles-globals/globals.scss";

.footer{
    display: flex;
    justify-content: center;
    background-color: $color-oscuro;
    nav{
        ul{
            margin: 0;
            display: flex;
            li{
                list-style: none;
            }
        }
    }
}