<div class="main">
    <div class="movies">
        <h2>Soy epico titulo descriptivo</h2>
        <div class="carousel">
            <div class="carousel__item">
                <div class="carousel__item__image">
                    <img src="https://i.pinimg.com/736x/56/dd/82/56dd829eedbe07299cb5880afdb383fb.jpg" alt="">
                    <div class="hover">
                        <div class="hover__title">Soy el titulo</div>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis odit repellendus sunt ab quas. Excepturi error velit magnam cum fuga, recusandae incidunt est quam, dicta enim eius amet officia tempora.
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="carousel__item__image">
                    <img src="https://i.pinimg.com/originals/ee/c7/bb/eec7bb3225f5c77709f9c4744b35f9ed.jpg" alt="">
                    <div class="hover">
                        <div class="hover__title">Soy el titulo</div>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis odit repellendus sunt ab quas. Excepturi error velit magnam cum fuga, recusandae incidunt est quam, dicta enim eius amet officia tempora.
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="carousel__item__image">
                    <img src="https://www.wallpaperflare.com/static/662/500/958/spider-man-marvel-comics-movies-comics-wallpaper.jpg" alt="">
                    <div class="hover">
                        <div class="hover__title">Soy el titulo</div>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis odit repellendus sunt ab quas. Excepturi error velit magnam cum fuga, recusandae incidunt est quam, dicta enim eius amet officia tempora.
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="carousel__item__image">
                    <img src="https://i.pinimg.com/736x/56/dd/82/56dd829eedbe07299cb5880afdb383fb.jpg" alt="">
                    <div class="hover">
                        <div class="hover__title">Soy el titulo</div>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis odit repellendus sunt ab quas. Excepturi error velit magnam cum fuga, recusandae incidunt est quam, dicta enim eius amet officia tempora.
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="carousel__item__image">
                    <img src="https://i.pinimg.com/originals/ee/c7/bb/eec7bb3225f5c77709f9c4744b35f9ed.jpg" alt="">
                    <div class="hover">
                        <div class="hover__title">Soy el titulo</div>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis odit repellendus sunt ab quas. Excepturi error velit magnam cum fuga, recusandae incidunt est quam, dicta enim eius amet officia tempora.
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="carousel__item__image">
                    <img src="https://www.wallpaperflare.com/static/662/500/958/spider-man-marvel-comics-movies-comics-wallpaper.jpg" alt="">
                    <div class="hover">
                        <div class="hover__title">Soy el titulo</div>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis odit repellendus sunt ab quas. Excepturi error velit magnam cum fuga, recusandae incidunt est quam, dicta enim eius amet officia tempora.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>